html {
    transition: transform 1s;
}

body {
    /*Opacity of content within body*/
    opacity: .8;
    /*Opacity of background itself */
    background-color: offwhite;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', serif;
}

#mainHeading,
#subheading,
#statusDiv {
    text-align: center;
    font-family: 'Roboto', serif;
    font-weight: 100;
}

#mainHeading {
    font-size: 3em;
    border: solid 2px white;
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-top: .5em;
}

#subheading {
    font-size: 1.2em;
    border: solid 2px white;
    font-style: italic;
    text-transform: uppercase;
    color: offblack;
    margin: 0 0 1em 0;
}

#statusDiv {
    color: black;
    font-size: 1.3em;
}

#about,
#credits {
    display: none;
    margin: 2em 0;
    text-align: justify;
}

#about-m,
#credits-m {
    margin: 2em 0em;
    text-align: justify;
}

#status {
    color: green;
    font-weight: bold;
}

#switchLabel {
    text-align: center;
    font-size: .9em;
    margin: 0;
}

#map {
    height: 400px;
    max-height: 60%;
}

#copyright {
    margin: 100px 0px 0px 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;

}

#tex {
    text-align: center;
    color: white;
    margin: 0;
}

@media(min-width: 37em) {
    #about,
    #credits {
        display: block;
        margin: 2em 2em;
    }
    #about-m,
    #credits-m {
        display: none;
    }
}

@media(min-width: 64em) {
    html,
    #map,
    .col,
    .col-md-8,
    .row,
    .container,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .col-md-4 {
        padding-right: 1em;
    }
    html {
        margin: 3em;
    }
    #copyright {
        margin-left: -3em;
        margin-right: -5em;
    }
    .headings {
        margin-top: 4em;
    }
    #map {
        max-height: 85%;
    }
    #about,
    #credits {
        margin: 2em 1em;
    }
}